<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/invoice.png" type="image/x-icon"/>
    <title><%= title %></title>
    <style>
        h3 {
            text-align: center;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>
            WELCOME TO MY HOME PAGE <br><br>
            <img src="https://cultofthepartyparrot.com/parrots/hd/headbangingparrot.gif" width="150" height="150"/>
        </h3>
    </div>
</body>
</html>