<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/invoice.png" type="image/x-icon"/>
    <title><%= title %></title>
    <style>
        h3 {
            text-align: center;
            margin-top: 7%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 50px;
            color: gray;
        }
        a {
            text-decoration: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3>
            WELCOME <br>
            <img src="https://cultofthepartyparrot.com/parrots/hd/headbangingparrot.gif" width="150" height="150"/> <br>
            <a href="/api/invoice/listpage">Invoice List  &rArr;  </a>
            <br>
            <a href="/api/invoice/page">Invoice Page  &rArr;  </a>
        </h3>
    </div>
</body>
</html>