body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #484b51;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

th {
    background-color: #cfa6a6;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.action-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        display: block;
        text-align: left;
    }

    th, td {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }
}

.header-container {
  text-align: right;
  margin-bottom: 5px;
}


input[type="search"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.sale-title, .stock-title {
    padding-left: 80px;
    color: #333;
  }
  

  .btn {
    padding: 10px 20px;
    background-color: #6f8870;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }

  input[type='text'], input[type='number'] {
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #644c4c;
    box-sizing: border-box;
  }
  
  input[type='button'] {
    position: relative;
    left: 90%;
    width: 120px;
  }
  
  input[type='submit'] {
    position: relative;
    margin: 10px;
    left: 40%;
    width: 150px;
    height: 50px;
  }

  .edit_stock_id {
    width: 20px;
    border: none;
  }

  .total {
    margin-top: 10px;
    text-align: right;
    margin-right: 200px;
  }
  
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container label,
  .container input {
    margin-bottom: 10px;
  }
  
  .container label {
    flex-basis: 20%;
  }
  
  .container input {
    flex-basis: 29%;
  }
  
  .totalAmount {
    text-align: right;
  }

  #btnUpdate {
    left: 50% !important;
  }

  #fileDisplayArea {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 200px;
    overflow-x: auto;
    overflow-y: scroll;
  }
  

  