table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  

  input[type="search"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#searchForm {
  text-align: right;
  margin-bottom: 5px;
}

  @media screen and (max-width: 600px) {
    th, td {
      display: block;
      width: 100%;
    }
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 5px;
  }
  